<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911398643352-ihlcr281nv41nv6ddvdpt3j5daof8hbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911398643352-ihlcr281nv41nv6ddvdpt3j5daof8hbm</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Ea4C4altovaPKwHxOSLPQ2a3639Hk_0</string>
	<key>GCM_SENDER_ID</key>
	<string>911398643352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gongtae.POMPOM</string>
	<key>PROJECT_ID</key>
	<string>pompom-f3cdd</string>
	<key>STORAGE_BUCKET</key>
	<string>pompom-f3cdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911398643352:ios:42ab9597d765a5506f12ed</string>
</dict>
</plist>